/build/
.gradle
./out/artifacts/
gradle/
.idea/
build

tdb-data
json-data.db


WoTerFlow/src/drafts/

WoTerFlow/src/main/resources/validation/td.ttl
WoTerFlow/src/main/resources/validation/tdv11.jsonld
WoTerFlow/src/main/resources/validation/td.jsonld
WoTerFlow/src/main/resources/validation/README.md

WoTerFlow/out/
