/build/
.gradle
out/
gradle/
.idea/
build

tdb-data
json-data.db
validation/*.ttl


./src/drafts/

kt_app/src/main/resources/validation/td.ttl
kt_app/src/main/resources/validation/tdv11.jsonld
kt_app/src/main/resources/validation/td.jsonld
kt_app/src/main/resources/validation/README.md
